{{!-- pass transitionToLoginRoute action to main-navigation component and make it avaliable to call via sendAction('login') --}}
{{main-navigation login='transitionToLoginRoute'}}

<div class='container'>
  {{outlet}}
</div>
